body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #fce4ec);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin-bottom: 8px;
    background: #f7f8ff;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

li:hover {
    background: #dfe3ff;
}

.no-result {
    text-align: center;
    color: gray;
    font-weight: 500;
}