body {
    background-color: #1e293b;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card{
    background-color: #ffffff;
    color: #333;
    width: 350px;
    padding: 30px;    
    border: 2px solid #ccc;  
    border-radius: 15px;     
    margin: 20px;            
    text-align: center;
}

.card h1 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card h3 {
    font-size: 16px;
    font-weight: 30px;
    color: #555;
    margin-bottom: 15px;
}

.card p {
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.card button {
    background-color: #1e293b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.card button:hover {
    background-color: #38bdf8;
    transform: scale(1.05);
}